
doctype html
html
    head
        title PUG Playground
        script
            include main.js
        style
            include main.css

button.btnMenu01.js-btnMenu(type="button"):span
button.btnMenu02.js-btnMenu(type="button"):span