
html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: GradientBG 15s ease infinite;
}

button {
  background: none;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;
  margin: 0 20px;
}

@keyframes GradientBG {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0 50%;
  }
}

$btnWidth: 100px;
$btnHeight: 100px;
$barWidth: 70%;
$barHeight: 8px;
$barSpacing: 12px;
$barRadius: 4px;

.btnMenu01 {
  width: $btnWidth;
  height: $btnHeight;
  background-color: #000000;

  span,
  &::before,
  &::after {
    display: block;
    width: $barWidth;
    height: $btnHeight;
    margin: $barSpacing auto;
    content: '';
    background-color: #fff;
    transition: all .2s ease-in-out;
    border-radius: $barRadius;
  }

  &.is-open {
    span {
      transform: scale(0);
    }

    &::before {
      transform: translateY(#{$barSpacing + $barHeight}) rotate(135deg);
    }

    &::after {
      transform: translateY(-#{$barSpacing + $barHeight}) rotate(-135deg);
    }
  }
}

.btnMenu02 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $btnWidth;
  height: $btnHeight;
  cursor: pointer;
  background-color: #000;

  span,
  &::before,
  &::after {
    display: block;
    width: $barWidth;
    height: $barHeight;
    background-color: #fff;
    border-radius: $barRadius;
  }

  span {
    position: relative;
    transition: all 0.5s;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
    }

    &::before {
      top: ($barSpacing + $barHeight);
      transition: top .3s .3s cubic-bezier(0.23, 1, 0.32, 1), transform .3s cubic-bezier(0.23, 1, 0.32, 1);
    }

    &::after {
      bottom: ($barSpacing + $barHeight);
      transition: bottom .3s .3s cubic-bezier(0.23, 1, 0.32, 1), transform .3s cubic-bezier(0.23, 1, 0.32, 1);
    }
  }

  &.is-open {
    span {
      background: rgba(225, 255, 255, 0);

      &::before {
        top: 0;
        transform: rotate(-45deg);
        transition: top .3s cubic-bezier(0.23, 1, 0.32, 1), transform .3s .3s cubic-bezier(0.23, 1, 0.32, 1);
      }

      &::after {
        bottom: 0;
        transform: rotate(45deg);
        transition: bottom .3s cubic-bezier(0.23, 1, 0.32, 1), transform .3s .3s cubic-bezier(0.23, 1, 0.32, 1);
      }
    }
  }
}